body
{
    background-image: linear-gradient(90deg,#1c61bb,#00FFFF );
}

.nav
{
    text-decoration: none;
    color:#3b1a88;
    margin-left: 20px;
    margin-top: 20px;
}
.nav:hover
{
    color:white;
    font-size: 4rem;
}
.navi
{
    margin-left: 10px;
    
}

.webimg
{
    border-radius: 9px;
    border:5px solid rgb(165, 45, 129);
}
#imgtext
{
    margin-bottom: 20px;
}
.content{
    margin-top: 80px ;
    text-align: center;
 
}

.logos{
    margin:3px;
    padding:2px;

    margin-bottom: 15px;
    color: #ffff;
    padding-left: 110px;
    font-size: 50px;
}
.facility ul  {

    
    flex-direction:row;
    
    list-style: none;
}
/* .facility ul li a
{
    flex-direction:row;
  
} */
.icons
{
    height: 120px;
    width: 120px;
    border-radius: 50%;
   
  
}
.featurebox
{
    text-align: center;
}
#icons
{
    margin-top:50px
}

@media only screen and (max-width: 768px){

    .logo-text
    {
        font-size: 20px;
        font-family: 'Montserrat','sans-serif';

    }
    .webimg{
        width:250px;
        height: 300px;
        text-align: center;
       
        margin-left: 110px;
    }
.icons{
    text-align: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 20px;
}
.featurebox
{
    text-align: center;
    padding: 15px;
}
.content
{
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Montserrat','sans-serif';

}


.nv
{
position: relative;
left: 180px;
text-align: center;
}
.logos
{
    text-align: center;
    font-family: 'ubuntu','sans-serif';
    
        margin:3px;
        padding:2px;
        padding-left: 5px;
        color: #ffff;
        margin-bottom: 15px;
        font-size: 50px;
        

}

}


