body
{
    background-color: #b78ca7;
    /* background-image: linear-gradient(90deg,#b3e77c,#d46719 ); */
}
.nav
{
    text-decoration: none;
    color:#00070d;
    margin-left: 20px;
    margin-top: 20px;
}
.row
{
    position: sticky;
}
.nav:hover
{
    color:white;
    font-size: 4rem;
}
.navi
{
    margin-left: 10px;
    
}

.webimg
{
    border-radius: 9px;
    border:5px solid rgb(120, 53, 100);
    width: 500px;
    height: 450px;
    background-color: #0c764a;
}
#imgtext
{
    margin-bottom: 20px;
}
.content{
    margin-top: 25px ;
    text-align: center;
   
 
}
.textcont{
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 30px;
    color:  #2d3532;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
line-height: 150%;

}

.logos{
    margin:3px;
    padding:2px;
    padding-left: 110px;
    color: #2d3532;

    margin-bottom: 15px;
    font-size: 50px;
    
}
.facility ul  {

    
    flex-direction:row;
    
    list-style: none;
}
/* .facility ul li a
{
    flex-direction:row;
  
} */
.icons
{
    height: 120px;
    width: 120px;
    border-radius: 50%;
   
  
}
.featurebox
{
    text-align: center;
}
#icons
{
    margin-top:50px
}

@media only screen and (max-width: 768px){
    /* 768 */

    .logo-text
    {
        font-size: 20px;
        font-family: 'Montserrat','sans-serif';

    }
    .webimg{
        width:250px;
        height: 300px;
        text-align: center;
       
        margin-left: 110px;
    }
.icons{
    text-align: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 20px;
}
.featurebox
{
    text-align: center;
    padding: 15px;
}
.content
{
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Montserrat','sans-serif';

}

.nv
{
position: relative;
left: 180px;
text-align: center;
}
.logos
{
    text-align: center;
    font-family: 'ubuntu','sans-serif';
        margin:3px;
        padding:2px;
        padding-left: 5px;
       
        margin-bottom: 15px;
        font-size: 50px;
        

}

}

/* therapy page style */
.therslogan{
    color: rgba(21, 23, 23, 0.542);

    text-align: center;
    font-weight: 600;
    font-size: 70px;
    font-family: 'ubuntu','sans-serif';

}
.word
{
    color: rgb(182, 11, 34);
    font-family: 'ubuntu','sans-serif';
}
.word1
{
    font-family: 'ubuntu','sans-serif';
   color: rgb(139, 14, 50);
}
.testsug
{
    text-align: center;
    font-weight: 700;
    color: rgb(160, 15, 83);
    margin-top:15px;
    margin-bottom: 10px;
}